alembic
blinker
click
Flask
Flask-Migrate
Flask-SQLAlchemy
gitdb
GitPython
greenlet
gunicorn
itsdangerous
Jinja2
Mako
MarkupSafe
packaging
prometheus_client
prometheus_flask_exporter
psycopg
psycopg_binary
smmap
SQLAlchemy
typing_extensions
Werkzeug
